.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    position: relative;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .input-container {
    position: relative;
    display: flex; 
    align-items: center; 
    margin-right: auto; 
  }
  .input-center {
      font-size: 14px;
      color: #001959;
      flex: 1;
      text-align: left;
  }

  .search-fields {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 20px;
  }
  .search-button {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  height: 45.6px;
  margin-top: 26px;
  padding: 15px 25px;
}

  
  
  